<style>
@charset "utf-8";

@font-face {
	font-family: "Noto";
	src: url("/font/NotoSansKR-Regular.woff2") format("woff2"),
	url("/font/NotoSansKR-Regular.woff") format("woff"),
	url("/font/NotoSansKR-Regular.otf") format("truetype");
}

html {
	/* -ms-content-zooming: none; */
	/* touch-action: none; */
}

body {
	/* overscroll-behavior-x: none; */

	margin: 0px;
	padding: 0px;
	font-size: 16px;
	font-family: "Noto";
	color: #333333;
	width: 100%;
	height: 100vh;
	box-sizing: border-box;
}

article {
	margin-top: 16px;
}

</style>
