<style type="text/css">
</style>


<!-- [s] Head Ttile -->
<div id="head_title" class="w-full p-3 border border-[#F69500]">
	<ul id="title" class="flex flex-auto">
		<li id="title_main" ><span class="text-[#F69500] font-extrabold">▣</span>&nbsp;&nbsp;<span class="font-semibold">카테고리 확인</span>&nbsp;&nbsp;</li>
		<li class="border border-[#F69500] w-0"></li>
		<li id="title_sub" class="font-bold h-full">&nbsp;&nbsp;카테고리 추가 또는 수정/삭제 하는 곳입니다.</li>
	</ul>
</div>
<!-- [e] Head Ttile -->


<article>


<!-- [s] Code -->
<form name="Frm" id="Frm" method="post" autocomplete="off" accept-charset="utf-8" onsubmit="return false" enctype="multipart/form-data">
	<input type="text" name="JSD" value="" class="form-control input-sm">
</form>

<div id="DivListComCat">

	<div class="cba">
		<div id="cnt_per_page" class="fr">
			<label for="limit">한 페이지에 표시할 수 </label>
			<select id="limit_select" name="limit">
				<option value="100">100&nbsp;</option>
				<option value="200">200&nbsp;</option>
			</select>
		</div>
	</div>

	<div class="list_area">
		<table class="table table-hover">
			<colgroup>
				<col width="30">
				<col width="80">
				<col width="*">
				<col width="*">
				<col width="115">
				<col width="40">
			</colgroup>
			<thead>
				<tr>
					<th class="thlC"><input type="checkbox" id="check_all"></th>
					<th>관리번호</th>
					<th>이름</th>
					<th>설명</th>
					<th>등록일시</th>
					<th>수정</th>
				</tr>
			</thead>

			<tbody id="list1">
			</tbody>

		</table>
	</div>

	<div class="cbb"><hr></div>
	<div class="cbb"><hr style="border:none;"></div>
	<div class="cbb"><hr style="border:none;height:10px;"></div>
	<div class="cbb"><hr style="border-top:1px solid #F8F8F8 !important"></div>

	<!-- [s] 페이징 -->
	<div class="pageination" id="page_select">
	</div>
	<!-- [e] 페이징 -->

</div>
<!-- [e] Code -->




</article>
