<!-- [s] Head Ttile -->
<div id="head_title" class="w-full p-3 border border-[#F69500]">
	<ul id="title" class="flex flex-auto">
		<li id="title_main" ><span class="text-[#F69500] font-extrabold">▣</span>&nbsp;&nbsp;<span class="font-semibold">카테고리 확인</span>&nbsp;&nbsp;</li>
		<li class="border border-[#F69500] w-0"></li>
		<li id="title_sub" class="font-bold h-full">&nbsp;&nbsp;카테고리 추가 또는 수정/삭제 하는 곳입니다.</li>
	</ul>
</div>
<!-- [e] Head Ttile -->


<!-- [s] article -->
<div id="article" class="py-3">


	<!-- 참조 : https://www.youtube.com/watch?v=cVYSBAjXoqw -->
	<style>

#viewjstreecss1 ul:first-child {
			width: 180px;
			margin: 0 auto;
			padding-top: 48px;
}

#viewjstreecss1 ul li {
			position: relative;
			list-style: none;
			padding: 2px 0;
}

#viewjstreecss1 li:before,
		li:after {
			content: '';
			position: absolute;
			left: -30px;
			background-color: #979797;
}

#viewjstreecss1 li:before {
			height: 1px;
			width: 16px;
			top: 9px;
}

#viewjstreecss1 li:after {
			height: 100%;
			width: 1px;
			top: -14px;
}

#viewjstreecss1 li.parent:after {
			height: 100%;
			top: -12px;
}

#viewjstreecss1 li.parent:last-child:after {
			content: none;
}

#viewjstreecss1 details {
			margin: 0 auto;
			max-height: 18px;
			transition: max-height 2s linear;
}

#viewjstreecss1 details[open] {
			max-height: 1000px;
}

#viewjstreecss1 summary {
			display: block;
			position: relative;
			cursor: pointer;
}

#viewjstreecss1 summary::before {
			content: '+';
			position: absolute;
			height: 18px;
			width: 18px;
			top: 0;
			left: -22px;
			text-align: center;
			line-height: 14px;
			font-weight: bold;
			color: #fff;
			background-color: #8854d0;
			border-radius: 9px;
}

#viewjstreecss1 details[open]>summary:before {
	content: '-';
	background-color: #4b7bec;
}

#viewjstreecss1 details>ul {
	padding: 15px;
}
</style>

<!-- 참조 : https://youtu.be/rvKCsHS590o -->
	<style>
		#viewjstreecss2 ul li {
			list-style: none;
			line-height: 2em;
		}

		#viewjstreecss2 ul li summary {
			cursor: pointer;
		}

		#viewjstreecss2 ul summary::marker {
			display: none;
		}

		#viewjstreecss2 ul summary::-webkit-details-marker {
			display: none;
		}

		#viewjstreecss2 ul li {
			position: relative;
			border-top: 1px solid green;
		}

		#viewjstreecss2 ul li::before {
			position: absolute;
			left: -10px;
			top: 0px;
			border-left: 2px solid red;
			border-bottom: 2px solid blue;
			content: "";
			width: 8px;
			height: 1em;

		}

		#viewjstreecss2 ul li::after {
			position: absolute;
			left: -10px;
			bottom: 0px;
			border-left: 2px solid green;
			content: "";
			width: 8px;
			height: 100%;
		}

		#viewjstreecss2 ul li:last-child:after {
			display: none;
		}

		#viewjstreecss2>ul>li:last-child {
			border-bottom: 1px solid green;
		}

		#viewjstreecss2 details {
			margin: 0 auto;
			max-height: 30px;
			transition: max-height 3s linear;
		}

		#viewjstreecss2 details[open] {
			max-height: 1000px;
		}

		#viewjstreecss2 summary::before {
			content: '+';
			position: absolute;
			height: 18px;
			width: 18px;
			top: 6px;
			left: -3px;
			text-align: center;
			line-height: 18px;
			/* font-weight: bold; */
			color: #fff;
			background-color: #8854d0;
			border-radius: 9px;
		}

		#viewjstreecss2 details[open]>summary:before {
			content: '-';
			background-color: #4b7bec;
		}

	</style>

<?php
	//## 참조 : https://gist.github.com/phpfiddle/41fbb2f699b015131b93
	$datas = array(
		array('id' => 1, 'parent' => 0, 'name' => 'Page 1'),
		array('id' => 2, 'parent' => 1, 'name' => 'Page 1.1'),
		array('id' => 3, 'parent' => 2, 'name' => 'Page 1.1.1'),
		array('id' => 4, 'parent' => 3, 'name' => 'Page 1.1.1.1'),
		array('id' => 5, 'parent' => 3, 'name' => 'Page 1.1.1.2'),
		array('id' => 6, 'parent' => 1, 'name' => 'Page 1.2'),
		array('id' => 7, 'parent' => 6, 'name' => 'Page 1.2.1'),
		array('id' => 8, 'parent' => 0, 'name' => 'Page 2'),
		array('id' => 9, 'parent' => 0, 'name' => 'Page 3'),
		array('id' => 10, 'parent' => 9, 'name' => 'Page 3.1'),
		array('id' => 11, 'parent' => 9, 'name' => 'Page 3.2'),
		array('id' => 12, 'parent' => 11, 'name' => 'Page 3.2.1'),
);

	function generatePageTreeOrg($datas, $parent = 0, $limit = 0)
	{
		if ($limit > 1000) return ''; // Make sure not to have an endless recursion
		$tree = '<ul>';
		for ($i = 0, $ni = count($datas); $i < $ni; $i++) {
			if ($datas[$i]['parent'] == $parent) {
				$tree .= '<li>';
				$tree .= $datas[$i]['name'];
				$tree .= generatePageTreeOrg($datas, $datas[$i]['id'], $limit++);
				$tree .= '</li>';
			}
		}
		$tree .= '</ul>';
		if ($tree == "<ul></ul>") $tree = "";
		return $tree;
	}

	// echo (generatePageTreeOrg($datas));


	function chkChild($chkidx)
	{
		$res = false;
		$cnt = 0;
		$arrDats = $GLOBALS['row'];
		$js = count($arrDats);
		for ($j = 0; $j < $js; $j++) {
			if ($arrDats[$j]['parentidx'] == $chkidx) {
				++$cnt;
			}
		}
		if ($cnt > 0) $res = true;
		return $res;
	}

	function generatePageTree($datas, $parentidx = 0)
	{
		if ($GLOBALS['TreeLimitCnt'] == 0) return ''; // Make sure not to have an endless recursion
		$tree = '<ul>';
		for ($i = 0, $ni = count($datas); $i < $ni; $i++) {
			if ($datas[$i]['parentidx'] == $parentidx) {
				if (chkChild($datas[$i]['idx'])) {
					$tree .= '<li class="parent"><details><summary>';
					$tree .= $datas[$i]['mnuNm'];
					$tree .= '</summary>';
				} else {
					$tree .= '<li>';
					$tree .= $datas[$i]['mnuNm'];
				}
				--$GLOBALS['TreeLimitCnt'];
				$tree .= generatePageTree($datas, $datas[$i]['idx']);
				if (chkChild($datas, $datas[$i]['idx'])) {
					$tree .= '</details></li>';
				} else {
					$tree .= '</li>';
				}
			}
		}
		$tree .= '</ul>';
		if ($tree == "<ul></ul>") $tree = "";
		return $tree;
	}

	function getConnPDO()
	{

		$database_default_hostname = "127.0.0.1";
		$database_default_database = "ci4";
		$database_default_username = "root";
		$database_default_password = "";

		$servername = $database_default_hostname;
		$username = $database_default_username;
		$password = $database_default_password;
		$dbname = $database_default_database;

		try {
			$dsn = "mysql:host={$servername};dbname={$dbname}";
			$conn = new PDO($dsn, $username, $password);
			$conn->setAttribute(PDO::ATTR_ERRMODE, PDO::ERRMODE_EXCEPTION);
			$conn->setAttribute(PDO::MYSQL_ATTR_USE_BUFFERED_QUERY, true);
			$conn->setAttribute(PDO::ATTR_EMULATE_PREPARES, false);
			// dd("<p>DB 연결 성공</p>");
			return $conn;
		} catch (PDOException $e) {
			return $e->getMessage();
			exit;
		}
	}

	$dbh = getConnPDO();
	$dbs = $dbh->query("SELECT * from mnumenu order by parentidx, idx");
	$rowCnt = $dbs->rowCount();
	// var_dump($rowCnt);
	$GLOBALS['TreeLimitCnt'] = $rowCnt;

	$GLOBALS['row'] = $dbs->fetchAll(PDO::FETCH_ASSOC);
	// print_r($GLOBALS['row']);

	$dbs->closeCursor();

	echo "<div id='viewjstreecss1'>";
	echo (generatePageTree($GLOBALS['row'], $parent = 0));
	echo "<div>";

	echo "<div id='viewjstreecss2'>";
	echo (generatePageTree($GLOBALS['row'], $parent = 0));
	echo "<div>";
?>



</div>
<!-- [e] article -->

